<table class="table table-bordered table-hover" style="width:280px; margin-left:50px;">
    <thead>
        <tr>
            <th><b>Submission</b></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="@Url.Action("stepone","author")" style="text-decoration:none;">
                    step 1: Type, Title, & Abstract
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("steptwo","author")" style="text-decoration:none;">
                    step 2: File Upload 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("stepthree","author")" style="text-decoration:none;">
                    step 3: Attributes 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("stepfour","author")" style="text-decoration:none;">
                    step 4: Authors & Institutions 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("stepfive","author")" style="text-decoration:none;">
                    step 5: Reviewers
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("stepsix","author")" style="text-decoration:none;">
                    step 6: Details & Comments 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("stepseven","author")" style="text-decoration:none;">
                    step 7: Review & Submit 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
